.cells{
    background: rgb(107, 105, 101);  
    border: 2px solid blue;
}
.selected{
    background: rgb(168, 51, 51);
    font-weight: bold;
    pointer-events: none;
}
.notSelected{
    background: rgb(107, 105, 101);
}
.onHover{
    background: rgb(208, 211, 208);
    
}
.cellDisable{
    pointer-events: none;
    
}

.customPatternselector{
    background-color: green;
}




